{% extends 'base.html' %}
{% load static %}
{% block title %} {{ requested_item.title }} {% endblock %}
{% block content %}
    <div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center selected-item">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4">
                                <img id="main-image" src="{{ requested_item.image.url }}" width="554" />
                            </div>
                            <div class="thumbnail text-center">
                                <img onclick="change_image(this)" src="" width="50">
                                <img onclick="change_image(this)" src="" width="50">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <i class="fas fa-long-arrow-alt-left"></i>
                                    <a href="{% url 'product:home' %}" class="ml-1" >Back</a>
                                </div>
                                <i class="far fa-heart"></i>
                            </div>
                            <div class="mt-4 mb-3">
                                <span class="text-uppercase text-muted brand">{{ requested_item.category }}</span>
                                <h5 class="text-uppercase"> {{ requested_item.title }} </h5>
                                <hr>
                                <div class="price d-flex flex-row align-items-center">
                                    <span class="act-price text-success">${{ requested_item.price }}</span>
                                </div>
                            </div>
                            <p class="about text-muted">{{ requested_item.description }}</p>
                            <hr>
                            <div class="cart mt-4 align-items-center">
                                <button type="button" value="{{ requested_item.id }}" data-url="{% url 'basket:add_item_to_basket' %}" class="btn btn-danger text-uppercase mr-2 px-4 add-item-button"><i class="fas fa-shopping-cart"></i>Add to cart</button>
                                <form>
                                   <input type="hidden" id="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}